
<div class="content-form">
        <h3 style="color:#a2365a">Bir yorum yapın</h3>
  
<form method="post">
    <input type="hidden" placeholder="ID" name="Blogid" value="@ViewBag.deger"  readonly="readonly"  required />
    <input type="text" placeholder="Kullanıcı adı" name="KullaniciAdi" required />
    <input type="text" placeholder="Mail adresi" name="Mail" required />
    <textarea placeholder="Yorum" name="Yorum"></textarea>
    <input type="submit" value="Gönder" style="background-color: #a2365a; color:white" />
</form>
    </div>