
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
<div class="wrap">
    <div class="about">
        <h3>Hakkımızda</h3>
        <img src="~/web/images/about_banner.jpg" alt="" />
        <p>Lorem ipsum dolor</p>
    </div>
</div>
	</div>

