@using TatilSitesi.Models.Siniflar
@model List<Blog>

<div class="right">
    <div class="bot-left">
        <img src="~/web/images/picture.jpg" style="width:300px; height:150px;" alt="" />
    </div>
    <div class="left-text">

        <h4>Ege'nin İncileri Turu </h4>
        <span class="doller">900 TL</span>
        <p class="tarih">15.08.2020 </p>
        <p>
            Akşam saatlerinde belirtilen duraklarda kıymetli misafirlerimizi alarak yolc
          
        </p>
        <p><a href="/Blog/BlogDetay/10"><span class="read">Devamı >></span></a></p>
    </div>
</div>


@*Hata var bakmayı unutma*@
