@using TatilSitesi.Models.Siniflar
@model List<Blog>

    <div class="box1-left">
        @foreach (var x in Model)
        {
            <div class="bot-img">
                <img src="@x.BlogImage" style="width:120px; height:65px" alt="" />
            </div>
            <div class="bot-desc1">
                <p>@x.Aciklama.Substring(0, 65) ...</p>
            </div>
            <div class="clear"></div>
        }


    </div>